<h1> This is the New Cform</h1>

<%= form_for :cform, url:"/cform" do |f| %>
<p>
<%= f.label :title %>
<%= f.text_field :title%>
</p>
<p>
<%= f.label :text %>
<%= f.text_area :text %>
</p>
<%= f.submit("Click")%>
<%end%>

 
<%= link_to 'Back', '/cform' %>