<h1>Enter Books Details</h1>
<%= form_for :article, url: articles_path do |f|%>
<p>
<%= f.label "Accesssion Number:"%>
<%= f.text_field :acc_no%>
</p>
<p>
<%= f.label "Title:"%>
<%= f.text_field :title%>
</p>
<p>
<%= f.label "Authors:"%>
<%= f.text_field :author%>
</p>
<p>
<%= f.label "Edition:"%>
<%= f.text_field :edition%>
</p>
<p>
<%= f.label "Publisher:"%>
<%= f.text_field :publisher%>
</p>
<%= f.submit("Enter")%>
<% end %>
<%= link_to "Back", articles_path%>

<h1> Search for Book</h1>
<%=form_for :article, url: articles_new_path do |f| %>
<p>
<%= f.label "Title:"%>
<%= f.text_field :title%>
</p>
<%= f.submit("Search")%>
<% end %>